<ion-header>
  <ion-toolbar>
    <ion-title>Perfil Game</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item lines="none">
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
  </ion-item>

  <ion-item>
    <ion-text>
      <h2>{{Game.nome}}</h2>
      <p>{{Game.categoria}}</p>
      <p>{{Game.console}}</p>
      <p>{{Game.descricao}}</p>
      <p>{{Game.quant}}</p>
      <p>{{Game.valor}}</p>
    </ion-text>
  </ion-item>
</ion-content>